/*--------------------------------------------------container*/

#container {
    position: relative;
    margin: auto;
} 

/*-----------------------------------Menu*/

#menuItemHeader {
    height: 50px;
    margin: 10px 0px 0px 0px;
    
    background-color: beige;
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 30px;
    top: 30px;
    right: 20px;
    letter-spacing: 6px;
    width: 1315px;
    position: fixed;
    visibility: visible;
}

#menuItems {
    color: #F06767;
    margin-left: 16px;
    text-align: right;
}

/*-----------------------------Introduction*/

.band-name {
    font-size: 90px;
    top: 170px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    position: absolute;
    left: 465px;
    right: 465px;
    color: white;
}

.tag-line {
    font-size: 40px;
    text-align: right;
    letter-spacing: 2px;
    top: 305px;
    position: absolute;
    left: 1050px;
    color: white;
    font-style: italic;
}

.summary {
    font-size: 20px;
    position: absolute;
    margin-right: 100px;
    top: 480px;
    margin-left: 950px;
    width: auto;
    color: white;
    text-align: justify;
}

.guitarist-image {
    background-image: url("/images/guitar.jpg");
    background-position: center;
    margin: 0px;
    top: -20px;
    position: relative;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
    min-width: 1000px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.btn {
    background-color: red;
    border-color: white;
    border-width: 2px;
    color: white;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
    padding: 3px;
    position: relative;
    left: 1150px;
    top: 890px;
}

/*-------------------------------Section headings and subheadings*/

.heading {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    position: relative;
    width: 700px;
    left: 601.5px;
}

.subheading {
    font-size: 20px;
    letter-spacing: 2px;
    top: 325px;
    /*position: absolute;*/
    left: 1050px;
    color: black;
    font-style: italic;
    text-align: center;
}

/*----------------------------------------------Horizontal Section Splitters*/

.horizontal-break {
    border-top-style: inset;
    border-bottom-style: none;
    border-color: black;
    border-width: 5px;
    margin: 30px 0px 30px 0px;
    position: relative;
}

/*------------------------------News*/

.facebook {
    position: relative;
    left: 607px;
    top: 40px;
}
    
.twitter {
    position: relative;
    left: 1255px;
    top: -5px;
}

.twitter-feed {
    position: relative;
    left: 1120px;
    top: -460px;
    bottom: 40px;
}

.facebook-feed {
    position: relative;
    left: 460px;
    top: 40px;
    bottom: 40px;
}

/*-------------------------------Watch*/

.youtube-link {
    position: relative;
    left: 671.5px;
    top: 40px;
    margin-bottom: 100px;
}

/*------------------------------------Photos*/

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14, .img15, .img16 {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    background-position: center;
    width: 310px;
    height: 178.75px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
}

.img1 {
    background-image: url("/images/img1.jpg");
    margin-left: 132px;
 
}

.img2 {
    background-image: url("/images/img2.jpg");
    margin-left: 574px;
    top: -228.75px;
    
} 

.img3 {
    background-image: url("/images/img3.jpg");
    left: 1016px;
    top: -457.5px;
} 

.img4 {
    background-image: url("/images/img4.jpg");
    left: 1458px;
    top: -686.25px;
} 

.img5 {
    background-image: url("/images/img5.jpg");
    margin-left: 132px;
    top: -686.25px;
   
} 

.img6 {
    background-image: url("/images/img6.jpg");
    margin-left: 574px;
    top: -915px;
   
} 

.img7 {
    background-image: url("/images/img7.jpg");
    margin-left: 1016px;
    top: -1143.75px;
   
}

.img8 {
    background-image: url("/images/img8.jpg");
    margin-left: 1458px;
    top: -1372.50px;
    
} 

.img9 {
    background-image: url("/images/img9.jpg");
    margin-left: 132px;
    top: -1372.50px;
} 

.img10 {
    background-image: url("/images/img10.jpg");
    margin-left: 574px;
    top: -1601.25px;
    
   
} 

.img11 {
    background-image: url("/images/img11.jpg");
    margin-left: 1016px;
    top: -1830px;
}

.img12 {
    background-image: url("/images/img12.jpg");
    margin-left: 1458px;
    top: -2058.75px;
}

.img13 {
    background-image: url("/images/img13.jpg");
    margin-left: 132px;
    top: -2058.75px;
}

.img14 {
    background-image: url("/images/img14.jpg");
    margin-left: 574px;
    top: -2287.5px;
    
   
}

.img15 {
    background-image: url("/images/img15.jpg");
    margin-left: 1016px;
    top: -2516.25px;
    
   
}

.img16 {
    background-image: url("/images/img16.jpg");
    margin-left: 1458px;
    top: -2745px;
    
   
}
    
/*-----------------------------Media queries*/

@media screen and (max-width:960px) {
    #menuItemHeader{
        width: 100%
    }
}

@media screen and (max-width:640) {
    #menuItemHeader{
        width: 60%
    }
}

@media screen and (max-width:320) {
    #menuItemHeader{
        width: 100%
    }
}
