.body {
    position: fixed;
    font-family: "Exo", sans-serif;
    
}



/*---------------------------------------------Navigation*/
.navigation {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 30px;
    top: 30px;
    right: 50px;
    color: #ffffff;
    letter-spacing: 6px;
    width: 1200px;
    text-align: left;
    position: fixed;
    
    
    
}

/*----------------------------------------------Horizontal Section Splitters*/

.horizontal-break {
    border-top-style: inset;
    border-bottom-style: none;
    color: black;
    border-width: 5px;
    
    margin-left: 10px;
    margin-right: 10px;
}

.hb1 {
    margin-top: 50px;
}

.hb2 {
    
}

.hb3 {
    
}

.hb4 {
    
}

/*------------------------------------------*/

#container {
    position: fixed;
    margin: auto;
}   
    


/*-------------------------------------------------Intro*/
.band-name {
    font-size: 70px;
    top: 300px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    position: absolute;
    left: 465px;
    right: 465px;
    color: white;
}

.tag-line {
    font-size: 40px;
    text-align: right;
    letter-spacing: 2px;
    top: 400px;
    position: absolute;
    left: 1000px;
    color: white;
}

.summary {
    font-size: 20px;
    text-align: right;
    position: absolute;
    margin-right: 100px;
    top: 600px;
    margin-left: 700px;
    width: auto;
    color: white;
}

.guitarist-image {
    background-image: url("/images/guitar.jpg");
    background-position: center;
    margin: 0px;
    top: -20px;
    position: relative;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
    min-width: 1000px;
    
    
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    
    
    
}