/*Navigation*/
.navigation {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 50px;
    color: #ffffff;
    letter-spacing: 6px;
    margin-right: 35px;
    width: 1500px;
    
}

/*Intro*/
.band-name {
    font-size: 70px;
    margin-top: 200px;
    text-transform: uppercase;
}